*{
  margin: 0px;
  padding: 0px;
}
/* .header-navigation {
  height: 40px;
  background-color: rgb(51 51 51);
}
.header-navigation>.header-caption-box {
  display: flex;
  height: 40px;
  width: 1226px;
  margin: auto;
}
.header-navigation>div>span {
  display: flex;
  width: 5px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  line-height: 40px;
  color: rgb(66, 66, 66);
  padding: 0 2px;
}
.header-navigation>div>a {
  display: flex;
  font-family:  ;
  color: rgb(171, 171, 171);
  font-size: 10px;
  align-items: center;
  text-decoration-line: none;
  padding:0 5px;
} */
